@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

/*Define all of the fonts*/
@font-face {
    font-family: 'Futura Light BT';
    src: url(fonts/futura\ light\ bt.ttf) format('truetype');
}
@font-face {
    font-family: 'Futura Medium BT';
    src: url(fonts/futura\ medium\ bt.ttf) format('truetype');
}
@font-face {
    font-family: 'Futura Condensed BT';
    src: url(fonts/futura\ medium\ condensed\ bt.ttf) format('truetype');
}
@font-face {
    font-family: 'Futura Heavy BT';
    src: url(fonts/Futura\ Heavy\ font.ttf) format('truetype');
}



/*Basic design choices*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Futura Light BT';
    color: rgb(0, 0, 0);
    max-width: 1440px;
}
main {
    margin-left: 48px;
    margin-right: 48px;
}
p>a:link {
    color: rgb(0, 0, 0);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }



.profile-picture {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    background-color: rgb(64,64,64);
}

.navigation-baby {
    margin-top: 20px;
    width: 150px;  
}


/*Defines CSS for each section in every page*/
.every-section {
    margin-top: 200px;
    margin-bottom: 200px;
    scroll-margin: 200px;
}
.about-section h1 {
    font-family: 'Futura Heavy BT';
    font-size: 64px;
    text-transform: uppercase;
}
.about-section h2 {
    font-family: 'Futura Condensed BT';
    font-size: 24px;
    text-transform: uppercase;
}
.about-section p {
    font-family: 'Futura Light BT';
    font-size: 20px;
    margin-top:32px;
}








/*CSS when the page collapses for small screens*/
@media (max-width: 767.98px) {
    .sidebar { 
        position: fixed; 
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
}

/*CSS when the page collapses for small screens*/
@media (min-width: 768px) {
    .sidebar {
        width:240px;
        color: rgb(225, 27, 27);
        background-color: rgb(0, 0, 0);
    }
}




@keyframes colorRotate {
from {
    color: #6666ff;
}
10% {
    color: #0099ff;
}
50% {
    color: #00ff00;
}
75% {
    color: #ff3399;
}
100% {
    color: #6666ff;
}
}
.rainbow {
text-align: center;
text-decoration: underline;

animation: colorRotate .5s linear 0s infinite;
text-shadow: 2px 2px 5px rgb(0, 0, 0);;
}
  
